{% extends 'base2.html' %}
{% block items %}
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div class="border rounder p-4 m-4 " style="background-color: white; border-radius: 20px;">
      <p class="display-3 p-l"> Your Orders</p>
      <hr>
        <table class="table">
            <thead>
             <tr>
                <th>Sno.</th>
                <th></th>
                <th>Book</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th> 
             </tr>
              {%for order in orders%}
             <tr>
                <td>{{forloop.counter}}</td>
                <td><img style="height: 100px;" class="" src="{{order.Book.image.url}}" alt=""></td>
                <td>{{order.Book.name}}</td>
                <td>{{order.date}}</td>
                <td>{{order.price|currency}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.quantity|multiply:order.price|currency}}</td>
             </tr>
             {% endfor %}
            </tbody>
        </div>
    </div>
</div>

{% endblock %}

